  <div class="panel panel-primary">
  <div class="panel-heading">Query</div>
  <div class="panel-body">    
     <form class="form-inline" role="form">
       <p style="margin-left:1em">Choose the DataSet</p>
       <div class="form-group" style="margin-left:1em;margin-right:1em">
        <label class="control-label">From　</label><input ng-model="startdate" class="form-control" type="text">
        </div>         
        <div class="form-group" style="margin-left:1em;margin-right:1em">
        <label class="control-label">To　</label><input ng-model="enddate" class="form-control" type="text">　
        </div>
        <div class="form-group" style="margin-left:1em;margin-right:1em">
        <button ng-click="doQuery()" type="button" style="width:6em;" class="btn btn-success">Query</button>  
        </div>   
        </div>               
        

     </form>
      <div style="margin:1em 1em" ng-show="Msg" class="alert alert-info" role="alert">{{Msg}}</div>
    </div>
  </div>

  <div ng-show="ajaxData" class="panel panel-primary">
  <div class="panel-heading">Result</div>  
       <div class="panel-body"> 
        <h2>Legend</h2>
        <table class="table" style="width:25em">          
          <tr><td>*</td><td>- not available for this deivce</td></tr>
          <tr><td>blank</td><td>- no data that day</td></tr>
          <tr><td>highlight</td><td>- important row</td></tr>
          <tr><td></td><td></td></tr>
        </table>
     
        <div ng-repeat="item in ajaxData">
          <h2>{{item.date}}</h2>
          <table class="table table-striped">
            <tr><th></th><th>Jawbone</th><th>Fitbit</th><th>Withings</th></tr>

            <tr>
              <td>Total CaloriesOut</td>
              <td>{{item.content.jawbone.calories}}</td>
              <td>{{item.content.fitbit.caloriesOut}}</td>
              <td>{{item.content.withings.calories}}</td>
            </tr>  

            <tr class="success">
              <td>Total Steps</td>
              <td>{{item.content.jawbone.steps}}</td>
              <td>{{item.content.fitbit.steps}}</td>
              <td>{{item.content.withings.steps}}</td>
            </tr>

            <tr>
              <td>Total Distance</td>
              <td>{{item.content.jawbone.distance}}</td>
              <td>{{item.content.fitbit.distance}}</td>
              <td>{{item.content.withings.distance}}</td>
            </tr> 

            <tr>
              <td>Total CaloriesBMR</td>
              <td>{{item.content.jawbone.bmr_day}}</td>
              <td>{{item.content.fitbit.caloriesBMR}}</td>
              <td>*</td>
            </tr>

            <tr>
              <td>Total Elevation</td>
              <td>*</td>
              <td>{{item.content.fitbit.elevation}}</td>
              <td>{{item.content.withings.elevation}}</td>
            </tr>
            <tr class="success">
              <td>Weight</td>
             <td>*</td>
              <td>{{item.content.fitbit.weight}}</td>
              <td>{{item.content.withings.weight}}</td>
            </tr>   

             <tr>
              <td>Total Time in Workouts(in sec)</td>
              <td>{{item.content.jawbone.wo_time}}</td>
              <td>*</td>
              <td>*</td>
             </tr>

             <tr>
              <td>Active Time(in sec)</td>
              <td>{{item.content.jawbone.active_time}}</td>
              <td>*</td>
              <td>*</td>
            </tr>
            <tr>
              <td>Inactive Time(in sec)</td>
              <td>{{item.content.jawbone.inactive_time}}</td>
              <td>*</td>
              <td>*</td>
            </tr>
            <tr>
              <td>Longest Active(in sec)</td>
              <td>{{item.content.jawbone.longest_active}}</td>
              <td>*</td>
              <td>*</td>
            </tr>   
             
             <tr>
              <td>Longest Idle(in sec)</td>
              <td>{{item.content.jawbone.longest_idle}}</td>
              <td>*</td>
              <td>*</td>
            </tr>

             <tr>
              <td>Sedentary Minutes</td>
              <td>*</td>
              <td>{{item.content.fitbit.sedentaryMinutes}}</td>
              <td>*</td>
            </tr>

            <tr>
              <td>Total Floors</td>
              <td>*</td>
              <td>{{item.content.fitbit.floors}}</td>
              <td>*</td>
            </tr>

            <tr>
              <td>Fairly Active Minutes</td>
              <td>*</td>
              <td>{{item.content.fitbit.fairlyActiveMinutes}}</td>
              <td>*</td>
            </tr>

            <tr>
              <td>Very Active Minutes</td>
              <td>*</td>
              <td>{{item.content.fitbit.veryActiveMinutes}}</td>
              <td>*</td>
            </tr>

            <tr><td>Lightly Active Minutes</td>
              <td>*</td>
              <td>{{item.content.fitbit.lightlyActiveMinutes}}</td>
              <td>*</td>
            </tr>

         

             <tr><td>BMI</td>
              <td>*</td>
              <td>{{item.content.fitbit.bmi}}</td>
              <td>*</td>
            </tr>

             <tr><td>Fat</td>
              <td>*</td>
              <td>{{item.content.fitbit.fat}}</td>
              <td>*</td>
            </tr>

            <tr>
              <td>Soft Activities(in sec)</td>
              <td>*</td>
              <td>*</td>
              <td>{{item.content.withings.soft}}</td>
          </tr>
            <tr>
              <td>Moderate Activities(in sec)</td>
              <td>*</td>
              <td>*</td>
              <td>{{item.content.withings.moderate}}</td>
            </tr>

            <tr>
              <td>Intense Activities(in sec)</td>
             <td>*</td>
              <td>*</td>
              <td>{{item.content.withings.intense}}</td>
            </tr>
            
             <tr>
              <td>Fat Ratio</td>
             <td>*</td>
              <td>*</td>
              <td>{{item.content.withings.fat_ratio}}</td>
            </tr>
              <tr>
              <td>Fat Free Mass</td>
              <td>*</td>
              <td>*</td>
              <td>{{item.content.withings.fat_free_mass}}</td>
            </tr>
             <tr>
              <td>Fat Mass Weight</td>
             <td>*</td>
              <td>*</td>
              <td>{{item.content.withings.fat_mass_weight}}</td>
            </tr>

          <tr class="success">
            <td>Total Minutes Asleep</td>
            <td>{{((item.content.jawbone.rem||0)+(item.content.jawbone.deep||0)+(item.content.jawbone.light||0))/60}}</td>
            <td>{{item.content.fitbit.totalMinutesAsleep}}</td>
            <td>{{((item.content.withings.rem||0)+(item.content.withings.deep||0)+(item.content.withings.light||0))/60}}</td>
          </tr>

          <tr>
            <td>Total Time In Bed</td>
              <td>{{((item.content.jawbone.awake||0)+(item.content.jawbone.rem||0)+(item.content.jawbone.deep||0)+(item.content.jawbone.light||0))/60}}</td>
            <td>{{item.content.fitbit.totalTimeInBed}}</td>
            <td>{{((item.content.withings.awake||0)+(item.content.withingsrem||0)+(item.content.withings.deep||0)+(item.content.withings.light||0))/60}}</td>
          </tr>

           <tr>
            <td>Asleep Time</td>
            <td>{{item.content.jawbone.asleep_time}}</td>
            <td>*</td>
            <td>*</td>
          </tr> 

          <tr>
            <td>Awake Time</td>
            <td>{{item.content.jawbone.awake_time}}</td>
            <td>*</td>
            <td>*</td>
          </tr>

        

           <tr>
            <td>Sleep Duration</td>
            <td>{{item.content.jawbone.sleep_duration}}</td>
            <td>*</td>
            <td>*</td>
          </tr>
          <tr>
            <td>Awakenings</td>
            <td>{{item.content.jawbone.awakenings}}</td>
            <td>*</td>
            <td>*</td>
          </tr>
           <tr class="success">
            <td>Sleep Quality</td>
            <td>{{item.content.jawbone.sleep_quality}}</td>
            <td>*</td>
            <td>*</td>
          </tr>

          
           <tr>
            <td>Light Sleep</td>
            <td>{{item.content.jawbone.light}}</td>
            <td>*</td>
            <td>{{item.content.withings.light}}</td>
          </tr>
           <tr>
            <td>Deep Sleep</td>
            <td>{{item.content.jawbone.deep}}</td>
            <td>*</td>
            <td>{{item.content.withings.deep}}</td>
          </tr>
           <tr>
            <td>REM Sleep</td>
            <td>{{item.content.jawbone.rem}}</td>
            <td>*</td>
            <td>{{item.content.withings.rem}}</td>
          </tr>

          <tr>
            <td>Awake</td>
            <td>{{item.content.jawbone.awake}}</td>
            <td>*</td>
            <td>{{item.content.withings.awake}}</td>
          </tr>

          <tr>
            <td>Total Sleep Records</td>
            <td>*</td>
            <td>{{item.content.fitbit.totalSleepRecords}}</td>
            <td>*</td>
          </tr>       

           <tr class="success">
            <td>Sleep Series</td>
            <td>*</td>
            <td>*</td>
            <td>{{item.content.withings.sleep_series.length}}</td>
          </tr>
          </table>
          <br><br>
        <div>
      </div>

  </div>
  