 <div class="panel panel-primary">
  <div class="panel-heading">MetaData</div>
  <div class="panel-body"> 
<h3>jawbone</h3>
<table class="table table-striped">
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
            <tr>
              <td>distance</td>
              <td>Distance travelled, in meters</td>
            </tr>  

             <tr>
              <td>steps</td>
              <td>Number of steps taken.</td>
            </tr>  

             <tr>
              <td>bmr_day</td>
              <td>Estimated basal metabolic rate for entire day, in calories.</td>
            </tr>  

             <tr>
              <td>wo_time</td>
              <td>Total time spent in workouts, in seconds.</td>
            </tr>  

             <tr>
              <td>active_time</td>
              <td>Total active time for move, in seconds.</td>
            </tr>  

             <tr>
              <td>longest_active</td>
              <td>Longest consecutive active period, in seconds</td>
            </tr>  

             <tr>
              <td>inactive_time</td>
              <td>Total inactive time for move, in seconds.</td>
            </tr>  

             <tr>
              <td>longest_idle</td>
              <td>Longest consecutive inactive period, in seconds.</td>
            </tr>  

             <tr>
              <td>sleep_duration</td>
              <td>Total time for this sleep event, in seconds.</td>
            </tr>  

             <tr>
              <td>sleep_quality</td>
              <td>Sleep quality for the night.</td>
            </tr>  

             <tr>
              <td>awake_time</td>
              <td>Epoch timestamp when the user awoke.</td>
            </tr>  

             <tr>
              <td>asleep_time</td>
              <td>Epoch timestamp when the user fell asleep.</td>
            </tr>  

             <tr>
              <td>awakenings</td>
              <td>Number of times the user awoke during sleep period.</td>
            </tr>  

             <tr>
              <td>rem</td>
              <td>REM sleep duration in seconds. NOTE: not in use at this time.</td>
            </tr>  

             <tr>
              <td>light</td>
              <td>Total light sleep time, in seconds.</td>
            </tr>  

             <tr>
              <td>deep</td>
              <td>Total sound sleep time, in seconds.</td>
            </tr>  
              <tr>
              <td>awake</td>
              <td>Total time spent awake, in seconds.</td>
            </tr>  
</table>


<h3>Fitbit</h3>
<table class="table table-striped">
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
            <tr>
              <td>caloriesBMR</td>
              <td>*</td>
            </tr> 
            <tr>
              <td>caloriesOut</td>
              <td>*</td>
            </tr> 
             <tr>
              <td>floors</td>
              <td>*</td>
            </tr>
             <tr>
              <td>steps</td>
              <td>*</td>
            </tr>
            <tr>
              <td>distance</td>
              <td>*</td>
            </tr>  
            <tr>
              <td>elevation</td>
              <td>*</td>
            </tr> 
            <tr>
              <td>fairlyActiveMinutes</td>
              <td>*</td>
            </tr> 
            <tr>
              <td>lightlyActiveMinutes</td>
              <td>*</td>
            </tr> 
            <tr>
              <td>sedentaryMinutes</td>
              <td>*</td>
            </tr> 
            <tr>
              <td>totalMinutesAsleep</td>
              <td>*</td>
            </tr> 

             <tr>
              <td>totalSleepRecords</td>
              <td>*</td>
            </tr> 
             <tr>
              <td>totalMinutesAsleep</td>
              <td>*</td>
            </tr> 
             <tr>
              <td>totalTimeInBed</td>
              <td>*</td>
            </tr> 
             <tr>
              <td>veryActiveMinutes</td>
              <td>*</td>
            </tr> 

             <tr>
              <td>veryActiveMinutes</td>
              <td>*</td>
            </tr>
             <tr>
              <td>weight</td>
              <td>*</td>
            </tr> 
             <tr>
              <td>bmi</td>
              <td>*</td>
            </tr> 
             <tr>
              <td>fat</td>
              <td>*</td>
            </tr>  

</table>


    

<h3>Withings</h3>
<table class="table table-striped">
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
            <tr>
              <td>steps</td>
              <td>Number of steps for the day.</td>
            </tr>  
            <tr>
              <td>elevation</td>
              <td>Elevation climbed during the day (in meters).</td>
            </tr>  
            <tr>
              <td>distance</td>
              <td>Distance travelled for the day (in meters).</td>
            </tr>  
            <tr>
              <td>calories</td>
              <td>Calories burned in the day (in kcal).</td>
            </tr>  
            <tr>
              <td>soft</td>
              <td>Duration of soft activities (in seconds).</td>
            </tr>  
            <tr>
              <td>moderate</td>
              <td>Duration of moderate activities (in seconds).</td>
            </tr>  
            <tr>
              <td>intense</td>
              <td>Duration of intense activities (in seconds).</td>
            </tr>  
            <tr>
              <td>sleep_series</td>
              <td>Serie of sleep data  0-awake  1-light sleep  2-deep sleep 3-REM sleep</td>
            </tr>  

            <tr>
              <td>awake</td>
              <td>awake duration in seconds</td>
            </tr>  

  
            <tr>
              <td>light</td>
              <td>light sleep duration in seconds</td>
            </tr>  

  
            <tr>
              <td>deep</td>
              <td>deep sleep duration in seconds</td>
            </tr>  

             <tr>
              <td>rem</td>
              <td>rem sleep duration in seconds</td>
            </tr>  

             <tr>
              <td>weight</td>
              <td>*</td>
            </tr>  

             <tr>
              <td>fat_ratio</td>
              <td>*</td>
            </tr>  

             <tr>
              <td>fat_free_mass</td>
              <td>*</td>
            </tr>  

             <tr>
              <td>fat_mass_weight</td>
              <td>*</td>
            </tr>  
</table>

</div>
</div>