  <div class="panel panel-primary">
  <div class="panel-heading">Visualization</div>
  <div class="panel-body">    


     <form class="form-inline" role="form">
       <p style="margin-left:1em">Choose the DataSet</p>
       <div class="form-group" style="margin-left:1em;margin-right:1em">
        <label class="control-label">From　</label><input ng-model="startdate" class="form-control" type="text">
        </div>         
        <div class="form-group" style="margin-left:1em;margin-right:1em">
        <label class="control-label">To　</label><input ng-model="enddate" class="form-control" type="text">　
        </div>    
       <div class="form-group" style="margin-left:1em;margin-right:1em">
        <button ng-click="doQuery()" type="button" style="width:6em;" class="btn btn-success">View</button>  
       </div>  
        </div>                       

     </form>
      <div style="margin:1em 1em" ng-show="Msg" class="alert alert-info" role="alert">{{Msg}}</div>
    </div>
  </div>
  <div class="panel panel-primary" ng-show="ajaxData">
  <div class="panel-heading">Trends</div>
  <div class="panel-body">  
    <div id="charts-controller" style="margin-left:auto;margin-right:auto;width:32em;margin-bottom:1em;margin-top:1em">
            <div class="btn-group">
              <button ng-repeat="(key,value) in chartArray" type="button" ng-click="switchChart(this.key)" class="btn charts-button btn-default" ng-class="{'btn-primary':currentChartID==this.key}">{{key}}</button>
              </div>
         </div>
  <highchart config="chartConfig"></highchart> 

  </div>
  </div>

  <div class="panel panel-primary" ng-show="ajaxData">
  <div class="panel-heading">Intraday Activity</div>
  <div class="panel-body"> 
  <div style="width:15em;margin:1em auto;">   
<select class="form-control" ng-change="renderIntradayChart()" ng-model="currentIntradayData" ng-options="m.date for m in ajaxData">
</select>
  </div>
  <div style="margin:4em">
   <highchart config="chartConfig_intraday_steps"></highchart>
 </div>
  <div style="margin:4em">
   <highchart config="chartConfig_intraday_calories"></highchart>
 </div>
</div>
  </div>